:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto";
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

/* header  */

.logo {
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    color: var(--accent-color);
    line-height: 1.19;
    text-decoration: none;
}

.logo-part {
    color: #000000;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.link {
    color:var(--primary-text-color);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
}


.button-primary, .button-secondary {
    text-decoration: none; 
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-size: 14px;
    font-weight: 500;
}
.button-primary:hover,
.button-primary:focus {
    color:var(--accent-color);
}
.button-secondary:hover,
.button-secondary:focus {
    color:var(--accent-color);
}


/* Main  */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/* Hero */

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    background-color: #2F303A;
}

button.btn-primary {
    background: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
}

/* benefits */

.benefits-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
p {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
}

/* our team  */

.team-name {
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    font-weight: 500;
}

.team-position {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 1.19;
}

/* footer  */

.logo-part-footer {
    color:var(--primary-white-color);
}

footer {
    background-color: #2F303A;
}
address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color:var(--primary-white-color);    
}

address p {
    color: var(--primary-white-color);
}

address .button-footer-primary, .button-footer-secondary {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.71;
}

.button-footer-primary:hover,
.button-footer-primary:focus {
    color:var(--accent-color);
}
.button-footer-secondary:hover,
.button-footer-secondary:focus {
    color:var(--accent-color);
}
    
/* PORTFOLIO  */

/* header  */

/* Main  */



button {
    background: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}
.filter-list button {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    box-shadow: 0px 0px 0px;
}

.filter-list button:hover, 
.filter-list button:hover {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
}

.list-items h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.list-items a {
    text-decoration: none;
}
.list-items p {
    color: var(--secondary-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
